body {
background: url(/Images/sunset-fun.jpg); 
background-repeat: no-repeat;
background-size:cover;
height: 1000px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
display: flex;
background-color: ivory;
width: 100%;
height: 150px;
border-radius: 20px;
justify-content:space-evenly;
}

a {
 font-size: 20px;
 padding: 100px;
}

