body {
background-repeat: repeat;
background-size: contain;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid-container {
 display: grid;
 grid-template-columns: 1000px;
 grid-auto-rows: minmax(300px, auto);
 grid-row-gap: 100px; 
 justify-content: space-around;
}

.grid-item {
 background-color: ivory;
 border-radius: 50px; 
 margin: center;
}

.landing-page {
 display: grid;
 grid-template-columns: 1000px;
 background-color: lightgray;
 border-radius: 50px; 
 margin: center;
}

.nav-item {
display: grid;
grid-template-rows: 20px;
justify-content: center;
}
.logo {
 border-radius: 50px 50px 0px 0px;
}

.image-8,
.image-2,
.image-13 {
 width:100%;
 border-radius: 50px 50px 0px 0px;
}


p {
display: grid;
grid-template-rows: 20px;
justify-content: center;
padding: 0px 20px 20px 20px;
}




